[2011-11-24 18:02] crcn opened #1 "don't override existing JS autocomplete list"

[2011-11-27 22:16] aaronpowell opened #2 "Add common npm commands"
Can some of the common `npm` commands be added to the command palette, like:
- Install
- Update
- Uninstall

[2011-11-27 22:17] aaronpowell opened #3 "Stop running script"
Once a script is running it can be hard to kill, it'd be good if there was a command that could be used to kill the running script

[2011-12-19 21:24] tauren opened #8 "Coffeescript support"
I'm using the following package with ST2 for coffeescript support:
https://github.com/jashkenas/coffee-script-tmbundle

I've installed SublimeText-Nodejs and get code completion when editing `*.js` files. But when editing `*.coffee` files, I don't. Is this something that could be easily added? It seems like it would be.

I don't mind making the changes and submitting a pull request, but I'm lookin

[2011-12-20 09:38] #8 closed, assigned to nobody

[2012-01-31 12:35] tanepiper opened #9 "Implement pbs for subprocesses"
Implement https://github.com/amoffat/pbs for subprocess requests

[2012-02-07 21:02] danielmagnussons opened #10 "LookupError: unknown encoding"
example.js;

var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello World\n');
}).listen(1337, "127.0.0.1");
console.log('Server running at http://127.0.0.1:1337/');

alt+r  ( alt+d also)

gives this in sublime console;

Exception in thread Thread-1:
Traceback (most recent call last):
  File ".\threading.py", line

[2012-02-21 13:33] astraverkhau opened #11 "Conflict with native JS autocomplete"
Great job on the package. One issue though: There seems to be a conflict with native JS autocomplete when I install nodejs module. If i declare a variable, it doesn't always appear in the autocomplete after

var varName = 12312;

try then mentioning varName in your code.  Sometimes it will appear in autocomplete (varName variable), but most of the times  not. If I uninstall Nodejs package, variabl

[2012-03-07 20:20] paulirish opened #12 "Feature: Run current selection in node"
How about taking the current selection and running that, rather than the entire file?

[2012-05-22 21:54] vdeantoni opened #13 "Uglify error"
Hi,

I am very excited about your plugin. However I am facing an error when trying to uglify the code:

[code]

What am I missing? Shoud I have installed any node package?

Thanks!!

[2012-05-31 11:18] leecade opened #14 "how to run command "node-dev""
I want replace the command "node" to "node-dev" when "Ctrl + R"

try modify "Nodejs.sublime-settings":

[code]

but it not work..

[2012-08-03 13:29] Kamek opened #18 "Error loading modules"
The plugin seems to have a problem loading modules. I have several installed with npm -g in /usr/local/lib/node_modules and have setup my NODE_PATH as well but when I Ctrl+B in slt2 it says it can't find the module. Anyone else experience this?

[2012-08-17 15:43] applemate opened #19 "can not run"
I got this error

Node binary could not be found in PATH

Consider using the node_command setting for the Node plugin

PATH is: /usr/bin:/bin:/usr/sbin:/sbin

[2012-09-22 03:36] MrOwen opened #20 "Update to latest Commander?"
Get rid of the npm warn message when installing dependencies.

This sublime package requires Commander 0.3.3 which in turn requires a node version < 0.7.0. Seeing as node stable is now 0.8.9, I don't see a problem using the latest Commander which does support the latest node stable and dev versions. Travis says Commander has been failing tests since 0.5.1 but there's only tests for node 0.5 and 0.

[2012-10-19 21:19] NickTulett opened #23 "Typo in http.createServer snippet"
var http = require('http');
var server = http.createServer(function(req, res) {
  res.send('Hello World');
});
server.listen(9000);

should be

res.end(...)

[2013-02-22 11:31] tmshv opened #26 "build system is not working on mac"

[2013-03-08 00:57] runcom opened #27 "setImmediate() and node apis version"
Why isn't there setImmediate()? how can i add this? also, how can i use some specific apis like i want to use api for 0.9.12 how can i achieve this? thanks in advance

[2013-03-13 03:39] gavntery opened #28 "Decode error - output not cp1252"
My System is Ubuntu 10.04. When I use Ctrl + B to build, I always got 'Decode error - output not cp1252'. I already changed the build system to 'Nodejs'.

Nodejs.sublime-settings edited as follow:
{
  // save before running commands
  "save_first": true,
  // if present, use this command instead of plain "node"
  // e.g. "/usr/bin/node" or "C:\bin\node.exe"
  "node_command": "/usr/bin/node",
  //

[2013-03-15 23:13] slopjong opened #29 "How to use the build system?"
The Build Systems section doesn't really help nodejs beginners.

Nodejs.sublime-settings:

[code]

When hitting Ctrl + B:

[code]

Could you add some more notes on how  to configure the build system correctly?

[2013-03-24 05:58] linker-err0r opened #30 "Debug command doesn't let me enter commands"
Just sits there at a debug> prompt in the output window. Can't enter anything. Using Windows 7 64 bit and SublimeText 2 2.0.1 b2217

[2013-04-03 15:18] #30 closed, assigned to nobody

[2013-04-03 15:18] #29 closed, assigned to nobody

[2013-04-03 15:18] #28 closed, assigned to nobody

[2013-04-03 15:18] #27 closed, assigned to nobody

[2013-04-03 15:18] #26 closed, assigned to nobody

[2013-04-03 15:18] #23 closed, assigned to tanepiper

[2013-04-03 15:19] #20 closed, assigned to nobody

[2013-04-03 15:19] #19 closed, assigned to nobody

[2013-04-03 15:19] #18 closed, assigned to nobody

[2013-04-03 15:19] #14 closed, assigned to nobody

[2013-04-03 15:19] #13 closed, assigned to nobody

[2013-04-03 15:19] #12 closed, assigned to tanepiper

[2013-04-03 15:19] #11 closed, assigned to nobody

[2013-04-03 15:20] #10 closed, assigned to tanepiper

[2013-04-03 15:20] #9 closed, assigned to tanepiper

[2013-04-03 15:20] #3 closed, assigned to tanepiper

[2013-04-03 15:20] #2 closed, assigned to nobody

[2013-04-03 15:20] #1 closed, assigned to nobody

[2013-04-25 14:30] glukki opened #33 "Sublime Text 3 support"
Added instructions to [Sublime Text 3 Compatible Packages](https://github.com/wbond/sublime_package_control/wiki/Sublime-Text-3-Compatible-Packages#needs-extra-steps) list.

You may update it on your own now :)

[2013-04-25 16:11] zanona opened #34 "NODE_PATH not being considered"
I have `NODE_PATH` defined as

[code]

where

[code]

works fine on Terminal,
but when it comes to SublimeText-Nodejs it won't load any module I have installed, looking only for modules installed where the document is saved.

How can I use global NPM modules?

Thanks in advance

[2013-04-29 09:09] #33 closed, assigned to nobody

[2013-06-26 19:08] numkem opened #36 "Build system kills nodemon"
Hello,

I'm using nodemon for development since I don't want to restart my node apps every time I do a modification to a file.

It seems like I cannot use the build system to launch a node script that would connect to a deamon running with nodemon. Nodemon just exists saying it was killed.

Any way around this? I'd really love to not have to have a seperate prompt for running my script and do it a

[2013-07-04 05:33] lemonxd opened #37 "with this plugin the code completions issue."
With this plugin, the completions window will not show the default infomation, as the file's variable names.

[2013-08-08 17:13] spruce opened #41 "code completion across files"
Hey,
I have the question whether it is possible to get all the methods put into the module.export by modules you required

Like:
You are editing file a which requires fileb like
`var saver = require('fileb');`
in fileb you defined something like
`module.export.save = function(item){ ... stuff; ...}`
and then you could say `saver.` and there apears the autocompletion for the save function

[2013-08-11 18:51] spelufo opened #42 ""taskkill /F /IM node.exe" doesn't work on windows 7 ST3"
Even though "taskkill /F /IM node.exe" works properly from the windows command line, it doesn't from ST3 .build-system file.

[2013-09-26 01:32] optimuspaul opened #44 "console.log messages do not appear in the output panel"
I've installed the plugin and attempted to run some scripts.  No idea if they work because they don't output anything in the output panel.  Perhaps I'm doing something wrong, but it should be far more obvious what that is.

[2013-09-30 14:51] ggslove opened #45 "How to Run current script in node debug (Alt + D)?"
How to Run current script in node debug (Alt + D)?

[2013-10-03 23:30] ncallister opened #46 "'is_enabled must return a bool'"
I'm setting up Sublime Text for the first time to start Node.js development and I can't get your nodejs plugin to run node.

I am running Sublime Text 3 "Stable Channel, Build 3047" and I installed the Nodejs package using Package Control.

Whenever I attempt to run my Node.js project (or even open the context menu I get the following on my console:

[code]

If someone could let me know what I hav

[2013-10-08 13:30] bhadra opened #47 "ImportError: No module named command_thread"
On Sublime Text 2.0.2 (Windows 7), I always get the following error message in the Sublime Text console whenever Sublime Text is started. Uninstalling and reinstalling the package did not solve the problem.

Reloading plugin C:\Users\insrkum\AppData\Roaming\Sublime Text 2\Packages\Nodejs\Nodejs.py
Traceback (most recent call last):
  File ".\sublime_plugin.py", line 62, in reload_plugin
    m = im

[2013-12-09 04:10] json2d opened #49 "Windows Run -> 'node|npm' is not recognized as an internal or external command"
Does the SublimeText2 console not load environment PATH?

[2013-12-09 04:59] #49 closed, assigned to nobody

[2017-01-25 17:48] petercunha opened #60 "How do I set a custom node path?"
I'm getting an error when ever I try to use a utility from the Tools --> NodeJS menu:
[code]

I ran `which node` in terminal and got `/usr/local/bin/node`. How do I set that as the default node path?

[2017-01-31 21:10] techaware commented on #60
I am also facing the same issue.

[2017-02-05 07:38] varp commented on #60
@petercunha @techaware You can set the default node path either by Preferences --> Package Settings --> NodeJs --> User Settings or add `/usr/local/bin` to your `PATH`

[2017-02-18 05:32] eselkin commented on #60
As Packages/User/Nodejs.sublime-settings
{
	"node_command": "/usr/local/bin/node",
	"node_path": "/usr/local/bin/node",
	"node" : "/usr/local/bin/node"
}
Using this setting or any of those individually do not work.
Nor does setting path in Preferences.sublime-settings

[2017-02-24 06:42] JethroSovr commented on #60
I used brew to install the NodeJs
type "where node" in terminal,
it showed  "/usr/local/bin/node"
so I also got this problem ,
I try to setting like eselkin by edit "Nodejs.sublime-settings"
but it doesnt work.
So my fix like this:
edit the "Nodejs.sublime-build"
"osx":
    {
        "cmd": ["killall node;/usr/local/bin/node $file"]
    }
use "/usr/local/bin/node"  to replace "node"
now it worked,

[2017-02-24 08:49] varp commented on #60
I'm digging the issue. Will give feedback asap

[2017-03-30 19:50] craignied opened #61 "Autocompletion duplicates root object"
If I start to type an object and method in JS, say

<img width="402" alt="screen shot 2017-03-30 at 2 39 05 pm" src="https://cloud.githubusercontent.com/assets/1330498/24523244/0613a8f6-1558-11e7-977c-78e8b97fc644.png">

and then hit tab, the root object is duplicated in the autocomplete, eg.

`http.http.createServer(requestListener);`

[2017-04-28 07:46] natanavra commented on #60
Any news on this one?

[2017-04-29 13:06] varp commented on #60
@natanavra till May, 2 I will give a feedback

[2017-05-01 12:22] varp commented on #60
@petercunha @techaware @eselkin @JethroSovr @natanavra please install plugin form the branch issue-60 to check if the issue is resolved

[2017-05-01 14:58] varp commented on #61
@craignied Will work on this in the next couple days

[2017-05-01 20:03] eselkin commented on #60
Seems like it runs, but there is no output on the run. I do see its process running after using the run menu item.

[2017-05-02 10:10] varp commented on #60
@eselkin I've heard you. I'll be working on this and will give you feedback. As always in couple of days...

[2017-05-02 21:36] varp commented on #61
@craignied please check out the new branch issue-61. It should solve the problem.

[2017-05-05 19:46] NolanChan opened #62 "Turning off shortcuts"
Hi,

Could I ask how I can turn off shortcuts, specifically NodeJS > Debug [^ + D]? The NodeJS shortcuts are interfering with VI mode for me

Thanks!
Nolan

<img width="598" alt="screen shot 2017-05-05 at 12 45 09 pm" src="https://cloud.githubusercontent.com/assets/1487616/25761743/c24c5cd0-3190-11e7-9cc2-9732ac19cc03.png">

[2017-05-09 01:35] #34 closed

[2017-05-09 18:18] varp commented on #34
Yep. Thanks @zanona

[2017-05-13 15:08] varp commented on #62
Hi @NolanChan ,

I've added new functionality for changing default key bindings. Could you check out the branch issue-62?

[2017-05-13 17:22] varp commented on #61
Fixed in a new release v1.5.5. Check out the master branch or install the new version from package manager.

[2017-05-13 17:22] #61 closed

[2017-05-13 17:23] varp commented on #62
Fixed in a new release v1.5.5. Check out the master branch or install the new version from package manager.

[2017-05-13 17:23] #62 closed

[2017-05-13 17:23] varp commented on #60
Fixed in a new release v1.5.5. Check out the master branch or install the new version from package manager.

[2017-05-13 17:23] #60 closed

[2017-05-13 18:32] NolanChan commented on #62
Thanks @varp , will do

[2017-05-14 11:02] varp opened #63 "Error when run Nodejs package tools installed by package_manager"
Traceback (most recent call last):
  File "/Applications/Sublime Text.app/Contents/MacOS/sublime_plugin.py", line 818, in run_
    return self.run(edit)
  File "Nodejs in /Users/vardanpro/Library/Application Support/Sublime Text 3/Installed Packages/Nodejs.sublime-package", line 369, in run
  File "Nodejs in /Users/vardanpro/Library/Application Support/Sublime Text 3/Installed Packages/Nodejs.subl

[2017-05-31 14:37] mayrino opened #64 "UnicodeDecodeError: 'gbk' codec can't decode byte 0xa6 in position 325: illegal multibyte sequence"
hello , i got a problem when i am used to npm module ,  i need help , thanks very much！ os:window 10 version:1607  sublime version: build 3126

when i have running  every npm command , i always get below exception

Exception in thread Thread-942:
Traceback (most recent call last):
  File "./python3.3/threading.py", line 901, in _bootstrap_inner
  File "C:\Users\shuangmin\AppData\Roaming\Sublime Te

[2017-06-02 15:33] varp commented on #64
Thx for feedback. Will "dig" on this weekend.

[2017-06-02 16:33] mayrino commented on #64
Thank you for reply. I have done the problem.
p definition  change to

          stderr=subprocess.STDOUT, **universal_newlines=False,** env=self.env)
pay attention to universla_newlines=False  kwargs ,

ORIGINAL: universal_newlines=True enables text mode. Combined with stdout=PIPE, it forces decoding of the child process' output using locale.getpreferredencoding(False) that is not utf-8 on Window

[2017-06-02 16:39] mayrino commented on #64
J.F. Sebastian's  answer  link  [https://stackoverflow.com/questions/33283603/python-popen-communicate-str-encodeencoding-utf-8-errors-ignore-cr](url)

[2017-06-03 17:28] varp opened #65 "Resolves incorrect paths for built-in tools"
The package resolves incorrect paths for the himself. I think this is because of legacy code and assumptions for the Sublime Text version 2.

[2017-06-05 07:42] #65 closed

[2017-06-05 07:42] #63 closed

[2017-06-26 07:20] staryg opened #66 "Debugger?"
I want to bump the issue #12 since the creator answered but he no longer works on this project, and then closed the issue.

The debugger also uses node debug, which is deprecated. node inspect is supposed to be used instead.

[2017-06-26 08:16] varp commented on #66
Ok. Your issue has accepted. I'll give you feedback ASAP. I think it will be on this weekend.

[2017-07-11 11:19] varp commented on #66
@staryg Why you close this bug ?

[2017-07-11 12:41] staryg commented on #66
@varp sorry, my bad.

[2017-07-12 09:15] varp commented on #66
@staryg 😀  I'll dedicate this weekend to fixing the plugin bugs on the Windows platform

[2017-07-13 23:51] Chovin opened #67 "warning: mnemonic t not found in menu caption Tools"
getting `warning: mnemonic t not found in menu caption Tools` spammed in the console in ST3.

Not quite sure what this is referring to but upon changing it to `"mnemonic": "T"` in Main.sublime-menu the spam stops.

[2017-07-17 06:28] #67 closed

[2017-08-10 19:23] rkpatel33 opened #69 "Certain completions not appearing"
Certain completions do not show up in the popup box, in particular, `console.log` from the `Nodejs.sublime-completions` file. Not sure what could be interfering with it, any suggestions on tracking it down? Seems most of the other ones do complete based on a random sampling of them.

![image](https://user-images.githubusercontent.com/3799489/29188049-b407d7c6-7dc6-11e7-8c4a-d3875c0c216c.png)

File

[2017-08-11 10:44] varp commented on #69
Accepted. Thx 😊

[2017-08-13 11:26] varp commented on #47
@bhadra Did the issue solved in the future releases?

[2017-08-13 11:44] varp commented on #37
Approved

[2017-08-13 13:10] varp commented on #45
Yes @ggslove, you can hit (Alt+D) or (Ctrl+D), depending on your system, and you'll get desired :) But there are a more 3 serious problems:
- you cannot communicate with an output of debugging session, for now
- hence the (Alt+D) is useless, for now
- node --debug deprecated since version 7.7.0
I'll need to do some observation for the first two problems.

[2017-08-13 13:24] varp commented on #44
@shell @triffic-tang @optimuspaul Could you test the issue against latest release and the file _test_logging.js_ under _tests_ folder

[2017-08-17 08:31] varp commented on #64
@mayrino I am planning to do grand refactor of the code. Be patient, please.

[2017-08-17 08:32] varp commented on #69
@rkpatel33 I'm planning to do grand refactor of the code. Be patient, please.

[2017-08-17 16:29] rkpatel33 commented on #69
Ok cool. Thanks for letting me know.

[2017-08-20 11:33] varp commented on #69
@rkpatel33  Did you install JavaScript Next syntax from a package? Could you give a link to it?

[2017-08-20 18:51] rkpatel33 commented on #69
Yes I have that installed. I'm not sure what you meant by giving a link to it, do you want to path to it on my local machine?

[2017-08-21 05:21] varp commented on #69
No, I don't  need a path on your local machine. If you installed it by PackageControl, could you find it on the [packagecontrol.io](https://packagecontrol.io) and give me a link to it? I can guess that you've installed that one - [JavaScript Next](https://packagecontrol.io/packages/JavaScriptNext%20-%20ES6%20Syntax)? But that package has a MISSING status... No one can install it anymore!

[2017-08-21 06:35] rkpatel33 commented on #69
Oh wow. Ok I'll try to get it to you later. But FYI I just switched over to VS Code today and it's like a dream for node development. I commited a couple hours to getting up on it and I think I'm off sublime text for good :)

[2017-09-18 01:31] elvenwhite commented on #64
simply removing universal_newline or changing its value to False might cause error with multi-line code.
I'd solved problem with adding .decode('utf-8') after p.communicate()[0], for windows environment.

[2017-09-20 09:40] varp commented on #64
Hello @elvenwhite I've already done refactoring of the whole codebase. In a couple of days I'll make a new release.

[2017-09-30 07:40] HiZhaoxiaoyang opened #71 "package.json : Finished with exit code 1"
Hi, command can not run in package.json script mode.
how to config it in Nodejs.sublime-build
or use other tools such as "commander".

and "Ctrl-B" bind with root command "npm run dev" or "yarn start" ?

besides, how to run in debug mode with break point?

thanx~

[2017-10-12 05:20] varp commented on #69
Resolved in the refactor branch

[2017-10-12 05:20] #69 closed

[2017-10-12 05:32] varp commented on #71
Hey @HiZhaoxiaoyang. Answering to the second part of your question: how to run in debug mode with break point?
At the moment you cannot do this. I'm working on it in the branch interactive-debugger in my own fork of the repo.

What about the first part of your question, that functionality also will be done in future releases. As a workaround, I can suggest you write a custom build file for your ne

[2017-10-14 05:44] jacobsun opened #73 "Problem with auto completion"
The 'auto completion' is not 'to complete', but to replace. If I type 'fs', then the suggestion is 'fs.close()', I hit tab(or any other key I set), the result will be 'close()', not 'fs.close()'.

sublime version: v3 3143 (x64)

And it makes `Javascript completion` plugin can not  auto-complete,  I am not sure whether this is nodejs's problem or  that plugin's.

[2017-10-14 11:42] varp commented on #73
Could you try install last version of the plugin from the refactor branch ?

[2017-10-14 16:22] wangxi761 commented on #73
i have the same problem

[2017-10-15 06:20] jacobsun commented on #73
@varp Yeah, the problem fixed. Thanks.

[2017-10-20 07:08] #73 closed

[2017-10-20 07:10] varp commented on #64
@elvenwhite the problem is fixed in the refactor branch. Can you confirm this?

[2017-10-20 07:11] varp commented on #47
The issue is fixed in the refactor branch

[2017-10-20 07:11] #47 closed

[2017-10-20 07:13] varp commented on #42
The issue is fixed in the refactor branch

[2017-10-20 07:13] #42 closed

[2017-10-20 07:16] varp commented on #44
The issue is fixed in the refactor branch

[2017-10-20 07:16] #44 closed

[2017-10-20 07:18] varp commented on #46
@phette23 @muke5hy @ncallister The problem is fixed in the refactor branch

[2017-10-20 07:18] #46 closed

[2017-10-20 07:23] varp commented on #41
For the autocompleting across files, you could install All Autocomplete package from the package manager.
The plugin offers you a pre-generated autocompletion for Nodejs and its std library, it doesn't offer you smart completion (evaluating a code in the context of your project files) as doing some IDEs.

[2017-10-20 07:23] #41 closed

[2017-12-08 01:43] LandisTwo opened #79 "new error message from Nodejs"
I don't remember adding or changing anything, but I'm now getting the following error when I open any document/file and Nodejs is enabled.

`[Errno 2] No such file or directory: 'npm' `
`[cmd: ['npm', 'install', '-s']] `
`[dir: /home/landis/.config/sublime-text-3/Packages/Nodejs] `
`[path: /home/landis/bin:/usr/local/bin:/usr/bin:/bin:/usr/bin/X11:/usr/games:/usr/lib64:/home/landis/.local:/home/la

[2017-12-11 06:07] varp commented on #79
Hello, I’ll a feedback later today

[2017-12-12 13:29] varp commented on #66
@staryg the issue is fixed in new release 2.0.0

[2017-12-12 13:29] #66 closed

[2017-12-12 13:29] varp commented on #37
@lemonxd the issue is fixed in new release 2.0.0

[2017-12-12 13:29] #37 closed

[2017-12-12 13:29] varp commented on #64
@mayrino the issue is fixed in new release 2.0.0

[2017-12-12 13:29] #64 closed

[2017-12-12 13:30] varp commented on #45
@ggslove the issue is fixed in new release 2.0.0

[2017-12-12 13:30] #45 closed

[2017-12-12 13:47] varp commented on #79
Which version of ST3 are you using?

Could you reinstall the package? Also, I've released a new version 2.0.1 which possibly can solve your problem.
[code]
After that can you select menu:
- Perferences -> Browse Packages. The explorer window will be opened.
- There locate `Nodejs` folder and create file `.debug_plugin`.
- Restart ST3
- Go to the ST3 console by `ctrl+~`
- Copy the whole output and

[2017-12-15 02:59] LandisTwo commented on #79
@varp
I was going to go through the steps you've laid out, but...
I enabled Nodejs and opened several files and No Errors.
(2017.12.14)
Just this morning, I did an up on my opensuse linux and one of the patches was Nodejs.
I installed the opensuse patch/update for nodejs-common.

Again, I get No errors opening files in ST3 build 3143.
(i prefer to use this build. I DON'T like the 'new', flat, 'sma

[2017-12-21 07:21] varp commented on #79
Ok. According to the output you send me. There is no errors related to the plugin.  But looking at the error message in the first comment I can do assumption. in version 2 I’ve added ability to auto-install the plugin dependencies. I think in moment of installing you was not have any version of /node/ or /npm/

[2017-12-31 21:03] varp commented on #36
Resolved in v2.0.2

[2017-12-31 21:04] varp commented on #36
Sorry, only resolved the part related to the debugger. The debugger command also was killing all node processes. Will fix in future release

[2018-01-02 14:42] haochenglong opened #82 "Operation failed, as shown below."
![image](https://user-images.githubusercontent.com/20773235/34487132-edff6782-f00d-11e7-82bc-2df5a5a22453.png)

Has been reinstalled but the problem is still reproduced, please help us to see what is causing this problem.

[2018-01-03 02:15] haochenglong commented on #82
![9 84j y qr47el0 g1 9beb](https://user-images.githubusercontent.com/20773235/34507222-00972310-f06f-11e7-9c06-17d1e42b1338.png)

Please help us to see what is the problem.

[2018-01-03 02:28] haochenglong commented on #82
Re-install the problem to be restored.

[2018-01-03 02:28] #82 closed

[2018-01-07 20:54] maibin opened #83 "How to setup path when node is installed globally"
Please refer to my question in here:
https://stackoverflow.com/questions/48141374/how-to-configure-nodejs-build-plugin-inside-sublime-text-3

I think it would be beneficial if you can show example how to specify the path to node in your plugin, as I can't configure it.

[2018-01-08 03:58] #79 closed

[2018-01-08 03:59] varp commented on #83
I left a comment on StackOverflow. If it resolve your issue, please close the issue

[2018-01-08 17:29] varp opened #84 "On Windows - plugin write incorrect PID of debugger subprocess"
I think the problem is related to specifics of process forking on Windows. Need to play with `psutil` also read docs and notes related to Windows

[2018-01-09 13:07] varp commented on #84
Resoled in v2.0.3

[2018-01-09 13:07] #84 closed

[2018-01-09 13:08] #83 closed

[2018-01-30 20:14] Sir-Will opened #86 "UglifyJS -> Unexpected token: operator (>)"
I installed this package via the package manager and then I tried to run the UglifyJS on my .js file and got this error:
[code]
Caused by this:
[code]

[2018-02-05 05:23] varp commented on #86
Accepted

[2018-03-09 22:09] jacargentina opened #87 "JSON autocomplete ?"
There is no autocomplete for  `JSON.stringify` ?

`JSON.`
Then press Ctrl+Space....

Nothing there.

I'm missing something?

[2018-03-10 14:34] AnnanFay opened #88 "Spaces in path causes "Error: cannot find module""
If you try to build a file which has a space in the path to the file this causes an error. Only tested on Windows. In my case the error is:

[code]

I fixed the issue for myself by changing `Nodejs.sublime-build` to:

        "shell_cmd": "taskkill /F /IM node.exe & node \"$file\""

[2018-03-23 03:25] varp commented on #87
Hi, there is no autocomplete for `JSON.`. All autocomplete for Node std. library is pregenerated and could be  pregenerated for desired version

[2018-03-23 03:27] varp commented on #86
I’ll  fix on the coming weekend

[2018-03-24 12:59] leem32 opened #90 "shell_cmd": "taskkill /F /IM node.exe & node $file not working with Sublime Text 3 on Windows 7"
The line in sublime-build  `"shell_cmd": "taskkill /F /IM node.exe & node $file"` is causing an error `ERROR: The process "node.exe" not found.`.

If I comment out the `taskkill` line the error disappears.

I've added `"node_command": "C:\\Program Files\\nodejs\\node.exe"` in user sublime-settings.

How can I fix this??

[code]

[2018-04-29 20:16] NikhilDoWhile opened #91 "Node path"
<img width="952" alt="node" src="https://user-images.githubusercontent.com/9911561/39410587-1fa7d5f6-4c18-11e8-92e0-4f4bb19b202b.PNG">

Where to add node path (win-10 ) in sublime package setting.

[2018-05-11 13:10] varp commented on #91
Hey,
If I understood your question right, on the right pane. But according to [the current documentation of the NodeJs](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders), you should correct the value instead of simply set it to `true`

[2018-06-14 04:05] bennierja commented on #91
Hey varp,
Thanks for this package and in advance for your help. I also don't know what value "node_path" is supposed to be set to, or how to find that value. Thanks.

[2018-07-02 12:47] jpw opened #92 "disable "auto-build when opening file"?"
Hi there,

Just started using the package, looks really handy! Was playing with building via ST3, nice, but not something I would use regularly. However, now it seems to auto-build every time I reopen the JS file I built. This has annoyed me enough to uninstall `SublimeText-Nodejs`, as I have a shell open to do all that stuff usually.  Not sure if this is a config option in the ST3 build system or

[2018-07-03 03:22] varp commented on #92
Hey @jpw I’am giving you answer on this weekend

[2018-07-16 12:56] AnnanFay opened #93 "How can I disable the snippets?"
Hi, how can I disable the snippets. They are really annoying.

I've tried using PackageResourceViewer to extract the package and delete all the files in /Snippets however when the package is updated it just replaces the snippets again.

[2018-08-31 17:32] denis-migdal opened #94 "ImportError libpython3.3"
Hi,

I recently installed Nodejs from the package control on **Sublime-text 3.1.1 Build 3176**.

Items in the menus Tools/Nodejs/[Run|Debug/NPM] where disabled.
In Sublime Text's console I got the following error:

I found out that **python3.3** was not installed in my computer. After installing it, it worked just fine.

On **Ubuntu 16.04.10** I installed **python3.3** with the following commands:

[2018-09-08 15:00] varp commented on #94
@denis-migdal Thx. There is a related [bug](https://github.com/varp/sublime-psutil/issues/2) with `psutil` package which is shipped with the last release of the plugin.

[2018-10-24 15:20] djamal-d opened #95 "Cannot find module "commander""

[2018-10-25 07:59] varp commented on #95
Hey @djamal-d. At the moment I don't have spare time to support the project. As a workaround, you can go to the package folder and run `npm install`

[2018-11-30 12:28] macrohard opened #96 "Sublime 3180 is reporting an error at startup"
Building ...
fs.js:136
  throw new ERR_INVALID_CALLBACK();
  ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at maybeCallback (fs.js:136:9)
    at Object.writeFile (fs.js:1182:14)
    at saveCompletion (/Users/admin/Library/Application Support/Sublime Text 3/Packages/Nodejs/tools/doc_builder.js:22:6)
    at createCompletions (/Users/admin/Library/Application Support/Sublime Te

[2018-12-04 10:06] macrohard commented on #96
This bug has been fixed, but a warning will still pop up when Sublime starts:
[code]
My Node.js version is 11.3.0

[2018-12-11 13:17] varp commented on #96
@macrohard I'm planning to work on this project on New Year's Holidays

[2019-01-05 08:48] uran1980 commented on #96
Has may be the same error

[code]
my node version is v10.15.0

[2019-01-22 14:09] tgentet-obrien commented on #96
Is there an update on this? I am getting an error on startup also:

fs.js:159
  throw new ERR_INVALID_CALLBACK();
  ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at maybeCallback (fs.js:159:9)
    at Object.fs.writeFile (fs.js:1278:14)
    at saveCompletion (/Users/timothygentet-obrien/Library/Application Support/Sublime Text 3/Packages/Nodejs/tools/doc_builder.js:22:6)

[2019-02-25 13:24] jingyuexing opened #98 "No module name AIX"
reloading plugin Nodejs.Nodejs
Traceback (most recent call last):
  File "F:\IDEA\Sublime Text Build 3180 x64\sublime_plugin.py", line 116, in reload_plugin
    m = importlib.import_module(modulename)
  File "./python3.3/importlib/__init__.py", line 90, in import_module
  File "<frozen importlib._bootstrap>", line 1584, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1565, in _find_and

[2019-02-26 14:40] AlexVPopov opened #99 "node_command doesn't work with flags"
Hello 👋 I have installed node via homebrew.

This works:

[code]

However, neither this:

[code]
nor this:
[code]
works.

Does the `node_command` option support command flags?

[2019-03-05 03:34] varp commented on #98
Hi, could you attach info about target platform ?

[2019-03-05 03:35] varp commented on #98
Also info about ST version

[2019-03-05 03:38] varp commented on #99
Hi, Do you get any errors or something else to figure out what the problem is? How you understand that it is not work?

[2019-03-05 03:57] AlexVPopov commented on #99
Hi, @varp. Yes, this is the error, that I get:

<img width="426" alt="screenshot 2019-03-05 05 54 40" src="https://user-images.githubusercontent.com/3239252/53780087-61d43c80-3f0b-11e9-9f13-2f2ca2e68b05.png">

However, this is strange, because `/usr/local/bin/node` is in the path and if I remove `--experimental-modules` it works and I don't get the error.

[2019-03-05 05:39] varp commented on #99
Thx @AlexVPopov. I'll give you an answer ASAP.  Maximum a couple of days. Please wait.

[2019-03-05 13:59] AlexVPopov commented on #99
Hey @varp, no worries, the plugin works for me nicely as it is. Thank you for your help!

[2019-03-13 06:55] varp commented on #99
Okay, @AlexVPopov. I've added support for passing arguments to the node_command and npm_command settings. Will be in the next release or you can install the package by git.

[2019-03-13 07:50] varp commented on #99
At the moment you should install it from my fork https://github.com/varp/SublimeText-Nodejs

[2019-03-13 08:39] AlexVPopov commented on #99
Hey @varp, thank you very much for your effort! Should I close this issue?

[2019-03-13 08:40] varp commented on #99
I'll do it when a release will be ready

[2019-03-21 17:25] varp commented on #94
@denis-migdal I've made a new release of the related psutil package. The bug should be fixed. Please check out.

[2019-03-22 14:53] varp commented on #94
The issue is resolved in the related package `psutil`

[2019-03-22 14:53] #94 closed

[2019-03-22 14:54] #91 closed

[2019-04-03 09:06] Dt-Sodium opened #101 "Disable autocomplete when before typing"
Hello,
Whenever i type space, the Nodejs autocomplete spams me with a list of all possible commands i could use. This is a pain because most of the time i only wan't to press enter to go to a new line, which triggers the first autocomplete choice.
How can i configure the plugin so that it does not propose choices unless at least one character is typed in ?
I don't know if this is specific to this

[2019-04-07 12:18] AnnanFay commented on #93
The solution I ended up using is to copy `Nodejs.sublime-build` to user packages and uninstall the package. I only really wanted the build system.

[2019-04-18 09:04] vaanwd commented on #98
I have the same error:
[code]
---

Windows 7 x64, ST 3 Build 3207

[2019-04-18 11:06] jingyuexing commented on #98
Sublime Text Build 3180 x64
Windows 10,
nodejs version 11.3

[2019-04-19 10:49] vaanwd commented on #98
You need to add:
`AIX = sys.platform.startswith("aix")`
in `psutil\st3_windows_x32\psutil\_common.py` and `psutil\st3_windows_x64\psutil\_common.py`
after:
`SUNOS = sys.platform.startswith("sunos") or sys.platform.startswith("solaris")`

[2019-04-19 10:54] varp commented on #98
There is the original code from `psutil` authors. I've not modified the code at all. I've only modified the code in `setup.py` for compiling static versions of dynamic libraries.

[2019-08-09 12:23] leem32 commented on #90
I just had this problem again and found this question from a Google search that I'd forgot I had written lol.

I fixed this issue by adding the path to node.exe in the nodejs.sublime-build file.

[code]

The backslash is to escape the space. It bugs out without the backslash.

[2019-10-17 01:36] MadCowWeb commented on #60
I used HomeBrew and found mine here:
/Users/<your-name-here>/.nvm/versions/node/v10.16.3/bin/node

[2019-11-04 07:02] juejian opened #102 "the menu of run nodejs makes no effect in SublimeText-Nodejs v2.0.3, in win7 x64 sublime text v3.2.2"
test environment describes as title.

after configuring node path and npm path  in `Nodejs.sublime-settings` , moreover update `Nodejs.sublime-build`.

when using default settings, ` tools -> NodeJS`, show:

![image](https://user-images.githubusercontent.com/12257223/68103306-2910bb00-ff11-11e9-9c01-7aba72389a12.png)

**the menu of  "run、run argument 、debug、debug argument etc" can't run, those are

[2019-11-06 14:00] varp commented on #102
But, the menu items only will be active on JavaScript file types. To set it on arbitrary files you can open Command Palette and type `Set Syntax JavaScript` and hit the Enter.

[2019-11-10 06:13] juejian commented on #102
Thank you for your reply. but I have tried several methods,the question is still existed.
now I only use ctrl + b(build) to run but can‘t debug with sublimeText3-nodejs.

[2020-01-31 07:08] mghcool opened #103 "Sublime 3211 is reporting an error at startup"
windows10
node-v10.18.1-x64
sublime 3211

info：
Building ...
fs.js:128

  throw new ERR_INVALID_CALLBACK();

  ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function

    at maybeCallback (fs.js:128:9)

    at Object.writeFile (fs.js:1163:14)

    at saveCompletion (C:\Users\MGH\AppData\Roaming\Sublime Text 3\Packages\Nodejs\tools\doc_builder.js:22:6)

    at createCompletions (C:\Users\

[2020-02-10 06:57] varp commented on #103
Hi @mghcool , I am preparing a new release. I hope it will happen on this weekend

[2020-03-23 21:25] KrookedZBoy commented on #103
@mghcool Has that released yet? I have a fresh install of sublime build 3211 and sublimetext-nodejs and I'm getting this error every time I open sublime text.

[2020-04-07 07:28] varp commented on #103
@KrookedZBoy I'm sorry, but I could not find a time to do a new release.

[2020-04-08 06:00] varp commented on #103
OK. In the situation of lockdown i've requested 2 days of holidays. I'll do a new release today. Please wait the further comment.

[2020-04-08 16:22] varp commented on #103
I've made a new release v2.0.4. Should fix this issue. Feel free to reopen if it is not!

[2020-04-08 16:22] #103 closed

[2020-04-27 10:40] A-312 opened #107 "Error with tooltip"
On windows, when I click in the menu:
![image](https://user-images.githubusercontent.com/18501150/80363121-0b9b2900-8884-11ea-95a1-495f2b57bdd1.png)

I got:

[code]

settings:

[code]

[2020-04-29 06:40] varp commented on #107
That's very weird because all tests have been passed with success. Anyway, I'll try to reproduce your case and let you to know

[2020-04-29 06:41] varp commented on #107
Please, post the version of ST you are using with build number.

[2020-04-29 07:02] A-312 commented on #107
3211 and I installed your package with package control

[2020-08-06 22:27] jaredatron opened #108 "remove killall node"
killing every running node process seems aggressive. Why do this https://github.com/tanepiper/SublimeText-Nodejs/blob/0b5e68375184ea2a44f495cad51e356679e7930e/Nodejs.sublime-build#L17 ?

[2020-08-07 05:35] varp commented on #108
I think, historically it was done by original author of the plugin for the simplicity and after that was leaved as is. I will see, how I could enhance this. Thanks!

[2020-08-11 08:12] tanepiper commented on #108
Correct 😄 This was way before docker and I tended to be doing a lot of multiple demonised services running - this was a shorthand way to stop them all

[2021-07-21 16:21] #102 closed

[2022-01-26 04:39] liuzy88 opened #109 "psutil shellenv"
![image](https://user-images.githubusercontent.com/26781464/151105636-94be7994-4cf5-49a0-ac51-1ffc8b45c3ae.png)

Package Control: The dependency "psutil" is either not available on this platform or for this version of Sublime Text

[2022-01-26 04:47] liuzy88 commented on #109
Find:      psutil
Where:  ~/Library/Application Support/Sublime Text/Packages/Nodejs/
[code]

[2022-08-10 13:11] DiegoGiovany commented on #109
same here... still not fixed?

[2022-08-25 16:58] varp commented on #109
Sorry for this. Do not have a spare time to work on this